@page "/CartToCart"
@layout MainLayout

@inject NavigationManager Navigation
@using System.Text.Json

<header class="container-fluid header">
    <div class="row h-100">
        <div class="col-auto align-self-center">
            <a href="profile.html" class="btn btn-link back-btn text-color-theme" style="color: #FF1C52;">
                <i class="bi bi-arrow-right size-20"></i>
            </a>
        </div>
        <div class="col text-center align-self-center">
            <h5 class="mb-0">کارت به کارت</h5>
        </div>
        <div class="col-auto align-self-center">
            <a href="cart.html" class="link text-color-theme" style="color: #FF1C52;">
                <i class="bi bi-gear size-22"></i>
            </a>
        </div>
    </div>
</header>
<!-- Header ends -->

<!-- main page content -->
<div class="main-container container">


    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 mx-auto">
            <div class="card card-light shadow-sm mb-4">
                <div class="card-body">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="pincode" placeholder="مقدار شارژ را وارد کنید" @bind=request.Price>
                            <label for="pincode">مبلغ (تومان)</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="CardNumber" placeholder="شماره کارت را وارد کنید : " @bind=request.ClientCardNumber>
                            <label for="CardNumber">شماره کارت</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="ourCard" readonly
                                @bind=Card.CardNumber>
                            <label for="ourCard">حساب واریزی</label>
                        </div>
                        
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="ourBank" readonly 
                                @bind=Card.CardBank>
                            <label for="ourBank">بانک حساب واریزی</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="ourName" readonly 
                                @bind=Card.CardName>
                            <label for="ourName">به نام</label>
                        </div>

                        <div class="alert alert-info mt-4 mb-3" role="alert">
                            <strong>حداقل زمان شارژ موجودی 5 دقیقه می‌باشد.</strong><br>
                            لطفا صبر نمایید و از دادن گزارش جدید خودداری کنید.
                        </div>

                        <div class="d-grid"><a href="changeaddress.html" class="btn btn-lg btn-default shadow-sm">تایید
                                و ثبت درخواست</a></div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private IncomingCard Card { get; set; } = new IncomingCard();
    private c2cRequest request = new c2cRequest();

    protected override void OnInitialized()
    {
        var uri = Navigation.ToAbsoluteUri(Navigation.Uri);
        var query = System.Web.HttpUtility.ParseQueryString(uri.Query);
        var cardBase64 = query["card"];

        if (!string.IsNullOrEmpty(cardBase64))
        {
            var jsonBytes = Convert.FromBase64String(cardBase64);
            var cardJson = System.Text.Encoding.UTF8.GetString(jsonBytes);
            Card = JsonSerializer.Deserialize<IncomingCard>(cardJson)!;

            request.CardId = Card.Id;
        }
        else
        {
            Navigation.NavigateTo("/AddMoney");
        }
    }

    // ارسال ریکوئست به بک اند و گرفتن بازخورد بماند برای بعدا #تکمیلی
}