@page "/trace"
@layout MainLayout

<header class="container-fluid header">
    <div class="row h-100">
        <div class="col-auto align-self-center">
            <a class="btn btn-link back-btn text-color-theme" onclick="goBack()" style="color: #FF1C52;">
                <i class="bi bi-arrow-right size-20"></i>
            </a>
            <script>
                function goBack() {
                    window.history.back();
                }
            </script>

        </div>
        <div class="col text-center align-self-center">
            <h5 class="mb-0">گزارشات مالی</h5>
        </div>
        
        <div class="col-auto align-self-center">
            <a href="/profile" class="link text-color-theme" style="color: #FF1C52;">
                <i class="bi bi-person-circle size-22"></i>
            </a>
        </div>
    </div>
</header>

<div class="main-container container">
    <!-- Ordernumber  -->
    <div class="row mb-3">
        <div class="col">
            <p class="text-opac">گزارشات مالی</p>
        </div>
        <div class="col-auto text-end">
            <p class="text-opac">تعداد تراکنشات : @history.Count</p>
        </div>
    </div>

    <!-- items -->
    <div class="row ">
        <div class="col-12">
            <div class="card card-light shadow-sm mb-4">
                <ul class="list-group">
                    @foreach(TraceHistory trace in history){
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col">
                                    <p class="mb-1 fw-bold">@trace.Title</p>
                                    <p class="text-opac">@trace.Date</p>
                                </div>
                                <div class="col-auto mt-3">@trace.Amount
                                    @if(trace.type == TransactionType.Withdrawal){
                                        <i class="bi bi-dash fs-5" style="color: red;"></i>
                                    }
                                    else{
                                        <i class="bi bi-plus fs-5" style="color: green;"></i>
                                    }
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>

    <!-- pricing -->


    <!-- Button -->
    <div class="row mb-4">
        <div class="col-12 col-md-6 col-lg-4 mx-auto">
            <div class="row">
                <div class="col align-self-center d-grid">
                    <a href="/AddMoney" class="btn btn-default shadow-sm">افزودن موجودی</a>
                </div>
            </div>
        </div>
    </div>

</div>

@code {
    private List<TraceHistory> history = [];
    protected override async Task OnInitializedAsync()
    {
        await FillHistory();
    }
    private async Task FillHistory()
    {
        await Task.Delay(500);
        history.Add(new TraceHistory{Id = 1 , Date = "یکشنبه 4 آبان 1400" , Amount = 100000 , Title="شارژ موجودی / کارت به کارت" ,type=TransactionType.Deposit});
        history.Add(new TraceHistory{Id = 2 , Date = "دوشنبه 5 آبان 1400" , Amount = 20000 , Title="شارژ موجودی / کارت به کارت",type=TransactionType.Deposit});
        history.Add(new TraceHistory{Id = 3 , Date = "چهارشنبه 7 آبان 1400" , Amount = 10000  , Title="شارژ موجودی / کارت به کارت",type=TransactionType.Deposit});
        history.Add(new TraceHistory{Id = 4 , Date = "پنجشنبه 8 آبان 1400" , Amount = 10000  , Title="شارژ موجودی / کارت به کارت",type=TransactionType.Deposit});
        history.Add(new TraceHistory{Id = 5 , Date = "یکشنبه 12 آبان 1400" , Amount = 500000  , Title="شارژ موجودی / کارت به کارت",type=TransactionType.Deposit});
        history.Add(new TraceHistory{Id = 6 , Date = "یکشنبه 23 آبان 1400" , Amount = 1000  , Title="شارژ موجودی / کارت به کارت",type=TransactionType.Deposit});
        history.Add(new TraceHistory{Id = 7 , Date = "یکشنبه 23 آبان 1400" , Amount = 1000  , Title="شرکت در مسابقه اریو / حق ورودی",type=TransactionType.Withdrawal});
        history.Add(new TraceHistory{Id = 8 , Date = "یکشنبه 23 آبان 1400" , Amount = 5000 , Title="شرکت در مسابقه اریو / جایزه نفر اول",type=TransactionType.Deposit});
    }
}