@page "/Withdrawal"
@layout MainLayout
@inject UserService s
@inject NavigationManager Navigation
<header class="container-fluid header">
    <div class="row h-100">
        <div class="col-auto align-self-center">
            <a class="btn btn-link back-btn text-color-theme" onclick="goBack()" style="color: #FF1C52;">
                <i class="bi bi-arrow-right size-20"></i>
            </a>
            <script>
                function goBack() {
                    window.history.back();
                }
            </script>

        </div>
        <div class="col text-center align-self-center">
            <h5 class="mb-0">برداشت وجه</h5>
        </div>

        <div class="col-auto align-self-center">
            <a href="/profile" class="link text-color-theme" style="color: #FF1C52;">
                <i class="bi bi-person-circle size-22"></i>
            </a>
        </div>
    </div>
</header>

<div class="main-container container">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 mx-auto">
            <div class="card card-light shadow-sm mb-4">


                <div class="row mb-4">
                    <div class="col-6">
                        <h5 class="text-color-theme m-3">موجودی حساب</h5>
                    </div>
                    <div class="col-6">
                        <h5 class="m-3">@Balance تومان </h5>
                    </div>

                </div>



                <div class="card-body">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="pincode"
                            placeholder="مقدار وجه درخواستی را وارد کنید" @bind="Amount">
                        <label for="pincode">مبلغ (تومان)</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="CardNumber" placeholder="شماره کارت را وارد کنید : "
                            @bind="ClientCardNumber">
                        <label for="CardNumber">شماره کارت</label>
                    </div>
                </div>
                <div class="card-footer">
                    <!-- description -->
                    <div class="row mb-3">
                        <div class="col">
                            <h4 class="text-color-theme mb-0">توجه</h4>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-12">
                            <p class="text-opac">شماره کارت <b>فقط</b> متعلق به ثبت نام شده در اکانت باشد</p>
                            <p class="text-opac">درصورت ثبت نام ناقص ، لطفا در قسمت<a href="/profile"
                                    style="color: black; font-weight: bolder;">
                                    ویرایش پروفایل</a> اطلاعات رو
                                کامل کنید</p>
                            <p class="text-opac small">** حداقل برداشت مبلغ 100 هزار تومن میباشد. مبلغ حداکثر تا
                                24 ساعت به حساب بانکی شما واریز خواهد شد</p>
                        </div>
                    </div>
                    <div class="d-grid"><button type="submit"
                            class="btn btn-lg btn-default shadow-sm @(Balance > 100000 ? "" : "disabled")">تایید
                            و ثبت درخواست</button></div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    string token = "";
    private int? Balance = null;
    private string? Amount;
    private string? ClientCardNumber;
    protected override async Task OnInitializedAsync()
    {
        token = await s.CallToken();
        if (String.IsNullOrEmpty(token))
        {
            Navigation.NavigateTo("/signin");
        }

        Balance = (await s.getUser(token)).Balance;
    }
}