@page "/Rules"
@layout MainLayout

<header class="container-fluid header">
    <div class="row h-100">
        <div class="col-auto align-self-center">
            <a href="profile.html" class="btn btn-link back-btn text-color-theme" style="color: #FF1C52;">
                <i class="bi bi-arrow-right size-20"></i>
            </a>
        </div>
        <div class="col text-center align-self-center">
            <h5 class="mb-0">شرایط و ضوابط</h5>
        </div>
        <div class="col-auto align-self-center">
            <a href="home.html" class="link text-color-theme" style="color: #FF1C52;">
                <i class="bi bi-shop size-22"></i>
            </a>
        </div>
    </div>
</header>
<!-- Header ends -->

<!-- main page content -->
<div class="main-container container">
    <!-- Content text -->
    <h6>خوش آمدید به برنامه رایگان دبرنا تومبولا</h6>
    <p>با سلام به برنامه رایگان دبرنا تومبولا خوش آمدید. این بازی دبرنا تومبلا برای دوستان و خانواده های ایرانی
        راه اندازی شده که در کنار هم بازی شیرین و لذت بخش لحظات خوبی رو سپری کنند.</p>
    <p>لطفا از هرگونه سواستفاده از این برنامه جدا خودداری کنید. هدف ما از ساختن این بازی فقط زنده نگاه داشتن این
        بازی شیرین بوده که از سالیان قبل بزرگان ما به صورت خانوادگی بازی میکردند و هیچگونه تبعات منفی در بر
        ندارد.</p>
    <p>در حفظ نام کاربری و رمز عبور خود کوشا باشید و در صورت فراموشی رمز از طریق پشتیبان تلگرام اقدام کنید.</p>

    <h6>قوانین بازی</h6>
    <p>بازی دبرنا تومبالا از 30 تا کارت تشکیل شده است که داخل هر کارت 15 عدد مختلف وجود دارد. یکسری اعداد به
        صورت تصادفی ایجاد میشود. در هر خط بازی 5 عدد نوشته شده است، شرکت کنندگانی که زودتر بتوانند 5 عدد اول رو
        تو یه خط پر کنن برنده مبلغ 10 درصد از کل مجموع میشوند که انتهای همان بازی به حساب کاربر واریز خواهد شد.
        بازی ادامه پیدا میکند تا کارتی همه شماره ها رو داشته باشد. کارتی که زودتر همه شمارو داشت، برنده اصلی
        جایزه میشود.</p>
    <p>در صورت بردن همزمان چند شرکت کننده، مبلغ تقسیم بر تعداد برندگان خواهد شد.</p>
    <p>حداقل برداشت موجودی مبلغ 100 هزارتومان میباشد. مبلغ برداشتی شما بعد از بررسی حداکثر 24 ساعت کاری به حساب
        بانکی شما واریز خواهد شد.</p>
    <p>درضمن برای درخواست وجه باید اول قسمت پروفایل من رو تکمیل کنید. نام و مشخصات خود را ذخیره کنید. توجه داشته
        باشید که در صورت برداشت باید شماره کارت با نام و نام خانوادگی داخل پروفایل یکی باشه وگرنه درخواست رد
        میشود.</p>
    <p>در صورت رضایت، برنامه را به دوستان خود معرفی کنید که آنها هم از لذت این بازی بهرمند شوند. سوالات و
        پرسشهای دیگر را از آدرس تلگرام برنامه پیگیری نمایید و ادمین جوابگوی سوالات شما هست.</p>
    <p><b>پایدار و موفق باشید.</b></p>
    <br><br>
</div>