@page "/"
@page "/signin"
@inject UserService s;
@inject NavigationManager Navigation




<!doctype html>
<html lang="en" class="h-100">


<!-- signin.html   -->
<head>
    

  
 
    <!-- style css for this template -->
<link href="assets/css/style.css" rel="stylesheet" id="style">
</head>

<body class="body-scroll d-flex flex-column dark-bg bg1" data-page="signin">

    
    <!-- Begin page content -->
    <main class="container-fluid  main-container">
        

        <div class="row " style="margin-top: 100px;">
            <div class="col-12 text-center">
                <div class="logo-small">
                    <img src="assets/img/logo.png" alt="" class="img">
                   
                </div>
            </div>
            <EditForm Model="@loginRequest" OnValidSubmit="@login">
                      <DataAnnotationsValidator />

            <div class="col-12 mx-auto text-center " >
                <div class="row h-100">
                    <div class="col-10 col-sm-8 col-md-6 col-lg-4 col-xl-3 mx-auto align-self-center">
                   <h3 class="text-center mb-4">به بازی آریو خوش آمدید</h3>
                        <div class="card card-light shadow-sm mb-4">
                                    @if (dis == "error")
            {

                        <Alert  Color="AlertColor.Danger" Dismissable="false"> <Icon Name="IconName.CheckCircleFill" class="me-2 p-3 m-3 text-red"></Icon> @message  </Alert>
            }
                     
                            <div class="card-body">
                                <form class=" was-validated">
                                    <div class="form-floating mb-3">
                                        <input @bind="loginRequest.Username" class="form-control "  placeholder="name@example.com" >
                                        <label for="emailaddress">نام کاربری</label>
                                         <ValidationMessage For="@(() => loginRequest.Username)" />
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input @bind="loginRequest.Password" type="password" class="form-control is-invalid" id="password" placeholder="رمز عبور شما" >
                                        <label for="password">کلمه عبور</label>
                                       <ValidationMessage For="@(() => loginRequest.Password)" />
                                    </div>
                                </form>

                                <div class="d-grid"><a href="forgotpassword.html" class="link mb-3">رمز عبور را فراموش کرده اید؟</a></div>

                                <div class="d-grid"><button type="submit" class="btn btn-lg btn-default shadow-sm">ورود</button></div>
                            </div>
                        </div>
                        

                    </div>
                </div>

            </div>
            </EditForm>
            <div class="col-12 text-center align-self-end py-2">
                <div class="row">
                    <div class="col text-center">
                        حساب کاربری ندارید؟ <a href="/register" class="btn btn-link px-0 ms-2">ثبت نام<i class="bi bi-chevron-left"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </main>


    <!-- Required jquery and libraries -->
    <script src="assets/js/jquery-3.3.1.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/vendor/bootstrap-5/js/bootstrap.bundle.min.js"></script>


</body>


<!-- signin.html  17:22:38 GMT -->
</html>

@code{
    LoginRequest loginRequest=new LoginRequest();


     string dis="none";
     string message;

  private async Task login()
{
    dis = "none";  // ابتدا پیام مخفی شود
    message = "";   // مقدار پیام را ریست کنیم

    try
    {
        var result = await s.CheckLogin(loginRequest);
        if (result)
        {
            // اگر ورود موفق بود، به صفحه Home هدایت کن
            Navigation.NavigateTo("/home");
        }
        else
        {
            // در صورت خطا می‌توانید یک پیام خطا نشان دهید
            dis = "error";
            message="نام کاربری یا رمز عبور شما نادرست است ";
        }
    }
    catch (Exception ex)
    {
        message = $"مشکلی رخ داد: {ex.Message}";
        dis = "error"; // نمایش پیام خطا
    }
}
}