@page "/ContactUs"
@layout MainLayout
<header class="container-fluid header">
    <div class="row h-100">
        <div class="col-auto align-self-center">
            <a class="btn btn-link back-btn text-color-theme" onclick="goBack()" style="color: #FF1C52;">
                <i class="bi bi-arrow-right size-20"></i>
            </a>
            <script>
                function goBack() {
                    window.history.back();
                }
            </script>

        </div>
        <div class="col text-center align-self-center">
            <h5 class="mb-0">تماس با ما</h5>
        </div>
        
        <div class="col-auto align-self-center">
            <a href="/profile" class="link text-color-theme" style="color: #FF1C52;">
                <i class="bi bi-person-circle size-22"></i>
            </a>
        </div>
    </div>
</header>
<div class="main-container container ">
    <!-- Contact us form -->
    <div class="row mb-4">
        <div class="col-12 col-md-6 mx-auto">
            <p class="text-opac mb-4 text-center">ما همیشه خوشحالیم که از شما بشنویم! اگر سوال، نظر یا پیشنهادی
                دارید، لطفاً با ما تماس بگیرید.</p>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="name">
                <label for="name">نام</label>
            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="emailaddress">
                <label for="emailaddress">ایمیل یا شماره تلفن</label>
            </div>
            <div class="form-floating  mb-3">
                <textarea class="form-control h-auto" id="query"></textarea>
                <label for="query">درخواست شما</label>
            </div>
            <a href="/home" target="_self" class="btn btn-default btn-lg w-100">ارسال</a>
        </div>
    </div>

    <!-- مشخصات -->

    <div class="row mb-2">
        <div class="col">
            <h6 class="my-1">راه های ارتباطی ما:</h6>
        </div>
    </div>

    <div class="row justify-content-center mb-6rem">
        <div class="col-12 col-md-6 mb-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h6 class="text-primary">تلگرام</h6>
                    <a href="https://t.me/Farshad5059" class="text-opac">@@Farshad5059</a>
                </div>
            </div>
        </div>
    </div>
    @* <div class="row justify-content-center">
        <div class="col-12 col-md-6 mb-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h6 class="text-primary">انبار اصلی</h6>
                    <p class="text-opac">0912-1111111</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col">
            <h6 class="my-1">مکان ما: </h6>
        </div>
    </div> *@

    @* <div class="row justify-content-center mb-6rem">
        <div class="col-12 col-md-6 mb-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h6 class="text-primary">جانسون</h6>
                    <p class="text-opac">ایران - تهران - ونک - خیابان بهار</p>
                </div>
            </div>
        </div>
    </div> *@
</div>