@inherits LayoutComponentBase
<html dir="rtl" lang="en">

<head>
  <!-- TITLE-->
  <title>قالب شرکتی تک صفحه ای | نت کپی</title>
  <!-- FAV ICON -->
  <link rel="shortcut icon" href="/images/favicon.ico" type="text/css" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Responsive one page HTML template">
  <meta name="author" content="Netcopy">
  <!-- BOOTSTRAP CSS -->
  <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" />
  <!-- FONTAWESOME CSS -->
  <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css" />
  <!-- OWL CAROUSEL CSS -->
  <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css" />
  <!-- ANIMATE CSS -->
  <link rel="stylesheet" href="/css/animate.min.css" type="text/css" />
  <!-- LIGHTBOX CSS -->
  <link rel="stylesheet" href="/css/lightbox.min.css" type="text/css" />
  <!-- YTPLAYER CSS -->
  <link rel="stylesheet" href="/css/mb.YTPlayer.min.css" type="text/css" />
  <!-- FLATICON CSS -->
  <link rel="stylesheet" href="/css/flaticon.css" type="text/css" />
  <!-- BOOTSTRAP VALIDATOR CSS -->
  <link rel="stylesheet" href="/css/validator.min.css" type="text/css" />
  <!-- THEME STYLE CSS -->
  <link rel="stylesheet" href="/css/style.css" type="text/css" />
  <!-- Latest IE rendering engine & Chrome Frame Meta Tags -->
  <!--[if IE]>
  <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
  <![endif]-->
</head>

<body data-spy="scroll" data-offset="62">

  @Body

  <!-- THEME JS -->
  <script src="/js/theme.js"></script>
</body>

</html>
